@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@100;200;600&display=swap");
@font-face {
  font-family: Estedad;
  src: url("../fonts/estedad/Estedad[wght,kshd].woff2") format("woff2"), url("../fonts/estedad/Estedad[wght,kshd].ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Variable.eot") format("embedded-opentype"), url("../fonts/vazir/Vazir-Variable.ttf") format("truetype"), url("../fonts/vazir/Vazir-Variable.woff2") format("woff2"), url("../fonts/vazir/Vazir-Variable.woff") format("woff");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: Sahel;
  src: url("../fonts/sahel/Sahel-VF.woff2") format("woff2"), url("../fonts/sahel/Sahel-VF.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

blockquote {
  padding: 0;
}

body {
  background: #f1f1f1;
  color: #444;
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: 320px;
  padding: 1.5rem 2rem;
  transition: margin-right 0.4s;
}
.container__with_sb {
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .container {
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card__header {
  border-bottom: 2px solid #eee;
}
.card__body p {
  text-align: justify;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}
.btn:active {
  transform: translateY(-2px);
}
.btn--primary {
  background: #fdb827;
  color: #fff;
}
.btn--primary:hover {
  background: #efa302;
}
.btn--secondary {
  background: #364f6b;
  color: #fff;
}
.btn--secondary:hover {
  background: #253649;
}
.btn--success {
  background: #81b214;
  color: #fff;
}
.btn--success:hover {
  background: #60840f;
}
.btn--danger {
  background: #ff5d6c;
  color: #fff;
}
.btn--danger:hover {
  background: #ff2a3e;
}

.menu {
  padding: 1rem 0;
  width: 320px;
  height: 100%;
  transition: all 0.3s;
  position: fixed;
  padding-top: 45px;
  top: 0;
  right: 0;
}
@media screen and (max-width: 600px) {
  .menu {
    max-width: 100%;
  }
}
@keyframes showMenuIcon {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: -2rem;
  }
}
.menu__collapse {
  right: -320px;
}
.menu__collapse .menu__toggle-btn {
  position: absolute;
  opacity: 0;
  animation: showMenuIcon 0.5s ease-in-out forwards;
}
.menu__collapse .menu__toggle-btn svg {
  transform: rotate(180deg);
}
.menu__toggle-btn {
  cursor: pointer;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  z-index: 2;
  padding-right: 0.6rem;
}
.menu__toggle-btn svg {
  transition: all 0.3s;
}
.menu ul {
  margin: 0;
  padding: 0 1rem;
}
.menu ul li {
  list-style: none;
}
.menu__item {
  margin-bottom: 0.5rem;
  max-height: 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
}
.menu__item ul {
  padding-right: 3rem;
}
.menu__item ul li {
  list-style-type: circle;
}
.menu__item ul li a {
  font-size: 0.8rem;
  padding: 0;
  color: #444;
}
.menu__item--open {
  max-height: 550px;
}
.menu__item--active {
  text-indent: 0.3rem;
  background: #fff;
  color: #333 !important;
  font-weight: bold;
  border-left: 5px solid #81b214;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.menu__item:last-of-type {
  margin: 0;
}
.menu__item button {
  margin: 0 !important;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: transparent;
  width: 100%;
  text-align: inherit;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  display: block;
  font-family: inherit;
}
.menu__item a {
  padding: 0.5rem;
  display: block;
  margin-bottom: 0.3rem;
  transition: all ease-in 0.2s;
}
.menu__item a:hover {
  text-indent: 0.3rem;
}

/*# sourceMappingURL=main.css.map */
