@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@100;200;600&display=swap");
@font-face {
  font-family: Estedad;
  src: url("../fonts/estedad/Estedad[wght,kshd].woff2") format("woff2"), url("../fonts/estedad/Estedad[wght,kshd].ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Variable.eot") format("embedded-opentype"), url("../fonts/vazir/Vazir-Variable.ttf") format("truetype"), url("../fonts/vazir/Vazir-Variable.woff2") format("woff2"), url("../fonts/vazir/Vazir-Variable.woff") format("woff");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: Sahel;
  src: url("../fonts/sahel/Sahel-VF.woff2") format("woff2"), url("../fonts/sahel/Sahel-VF.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

blockquote {
  padding: 0;
}

body {
  background: #f1f1f1;
  color: #444;
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-bottom: 5rem;
  transition: margin-right 0.4s;
}
.container--with-sb {
  margin-right: 320px;
}
@media (max-width: 767px) {
  .container {
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.code-toolbar {
  margin: 3rem 0;
}
.code-toolbar pre {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nf-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card__header {
  border-bottom: 2px solid #eee;
}
.card__body p {
  text-align: justify;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 3px;
}
.btn:active {
  transform: translateY(-2px);
}
.btn--primary {
  color: #333;
  border: 1px solid #555;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.btn--primary:hover {
  background: #fff;
}
.btn--secondary {
  background: #364f6b;
  box-shadow: 3px 3px 0 rgba(54, 79, 107, 0.1);
  color: #fff;
}
.btn--secondary:hover {
  background: #253649;
}
.btn--success {
  background: #81b214;
  box-shadow: 3px 3px 0 rgba(129, 178, 20, 0.1);
  color: #fff;
}
.btn--success:hover {
  background: #60840f;
}
.btn--danger {
  background: #ff5d6c;
  box-shadow: 3px 3px 0 rgba(255, 93, 108, 0.1);
  color: #fff;
}
.btn--danger:hover {
  background: #ff2a3e;
}

.menu {
  padding: 1rem 0;
  width: 320px;
  height: 100%;
  transition: all 0.3s;
  position: fixed;
  padding-top: 45px;
  top: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 767px) {
  .menu {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  }
}
@keyframes showMenuIcon {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: -2rem;
  }
}
.menu__collapse {
  right: -320px;
}
.menu__collapse .menu__toggle-btn {
  position: absolute;
  opacity: 0;
  animation: showMenuIcon 0.5s ease-in-out forwards;
}
.menu__collapse .menu__toggle-btn svg {
  transform: rotate(180deg);
}
.menu__toggle-btn {
  cursor: pointer;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  z-index: 2;
  padding-right: 0.6rem;
}
.menu__toggle-btn svg {
  transition: all 0.3s;
}
.menu ul {
  margin: 0;
  padding: 0 1rem;
}
.menu ul li {
  list-style: none;
}
.menu__item {
  margin-bottom: 0.5rem;
  max-height: 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
}
.menu__item ul {
  padding-right: 3rem;
}
.menu__item ul li {
  list-style-type: circle;
}
.menu__item ul li a {
  font-size: 0.8rem;
  padding: 0;
  color: #444;
}
.menu__item--open {
  max-height: 550px;
  color: #000;
}
.menu__item--open button,
.menu__item--open ul li a {
  color: #000 !important;
}
.menu__item--active {
  text-indent: 0.3rem;
  background: #fff;
  color: #333 !important;
  font-weight: bold;
  border-left: 5px solid #81b214;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.menu__item:last-of-type {
  margin: 0;
}
.menu__item button {
  margin: 0 !important;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: transparent;
  width: 100%;
  text-align: inherit;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  display: block;
  font-family: inherit;
  color: #777;
}
.menu__item a {
  padding: 0.5rem;
  display: block;
  margin-bottom: 0.3rem;
  transition: all ease-in 0.2s;
}
.menu__item a:hover {
  text-indent: 0.3rem;
}
.menu .submenu--active {
  font-weight: bold;
  color: teal;
}
.menu .submenu--active a {
  color: teal !important;
}

.go-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  z-index: 20;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(4rem);
}
@media (max-width: 767px) {
  .go-to-top {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
  }
}
.go-to-top svg {
  width: 2rem;
  height: 2rem;
  fill: #777 !important;
  transition: all 0.3s;
}
.go-to-top--show {
  opacity: 1;
  transform: translateY(0);
}
.go-to-top:hover svg {
  fill: teal !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.navigation a {
  display: flex;
  align-items: center;
}
.navigation a svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s;
}
.navigation a:hover svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
