body {
  background: $light_bg;
  color: #444;
}

button,
select,
input {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-bottom: 5rem;

  &--with-sb {
    margin-right: $sidebar_width;
  }

  @include respond-below(sm) {
    margin-right: 0;
    padding: 0.5rem;
    padding-bottom: 6rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}

.code-toolbar {
  margin: 3rem 0;

  pre {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.nf-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
