@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@100;200;600&display=swap");

body {
  background: $light_bg;
  color: #444;
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: $sidebar_width;
  padding: 1.5rem 2rem;
  transition: margin-right 0.4s;

  &__with_sb {
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
}
