.btn {
  border: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
  transition: background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 3px;

  &:active {
    transform: translateY(-2px);
  }

  &--primary {
    color: #333;
    border: 1px solid #555;
    box-shadow: 3px 3px 0 rgba($color: #000000, $alpha: 0.1);

    &:hover {
      background: #fff;
    }
  }

  &--secondary {
    background: $secondary_color;
    box-shadow: 3px 3px 0 rgba($color: $secondary_color, $alpha: 0.1);
    color: #fff;

    &:hover {
      background: darken($color: $secondary_color, $amount: 10%);
    }
  }

  &--success {
    background: $success_color;
    box-shadow: 3px 3px 0 rgba($color: $success_color, $alpha: 0.1);
    color: #fff;

    &:hover {
      background: darken($color: $success_color, $amount: 10%);
    }
  }

  &--danger {
    background: $danger_color;
    box-shadow: 3px 3px 0 rgba($color: $danger_color, $alpha: 0.1);
    color: #fff;

    &:hover {
      background: darken($color: $danger_color, $amount: 10%);
    }
  }
}
