.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;

  a {
    display: flex;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
      transition: all 0.3s;
    }

    &:hover {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
