.setting {
  &__toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #fff;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    z-index: 10;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    svg {
      fill: #555 !important;
    }

    &:hover {
      background: orange;

      svg {
        fill: #fff !important;
      }
    }
  }

  &__content {
    background: #ccc;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease;

    &--active {
      left: 0;
    }
  }

  &__items {
    padding: 1rem;
    margin-top: 4rem;
  }
}
